#myVideo{
    width: 100%;
    
}

.centered-heading{
    position: absolute;
    weight: bold;
    top: 40%;
    left: 40%;
    color: white;
    font-size: 4em;
}

.centered{
    position: absolute;
    top: 55%;
    left: 32%;
    color: white;
    font-size: 1.5em;
}

#continue{
    position: absolute;
    top: 63%;
    left: 45%;
}